<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  
  <add name="XmlToSqlApp.Properties.Settings.XmlToSqlApp1ConnectionString1"
   connectionString="Data Source=NB242F34R44\SQLEXPRESS;Initial Catalog=XmlToSqlApp1;User ID=sa;Password=alk123;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>

<!--#Data Source=NB242F34R44\SQLEXPRESS;Initial Catalog=XmlToSqlApp1;User ID=sa;Password=alk123;TrustServerCertificate=True#-->